In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

# Question Number 1:

In [536]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [537]:
driver = webdriver.Chrome(r'C:\Users\Blade\Desktop\Flip Robo\chromedriver_win32\chromedriver.exe')

In [5]:
url = 'https://www.naukri.com/'
driver.get(url)

In [6]:
#find the web element for search job bar using class name
search_job= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [8]:
# write on search bar
search_job.send_keys("Data Scientist")

In [9]:
search_loc= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [10]:
# write on search bar
search_loc.send_keys("Bangalore")

In [15]:
search_btn= driver.find_element_by_class_name("qsbSubmit")
search_btn

In [16]:
search_btn.click()

# Extracting Title of Job

In [18]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [21]:
job_titles = []
for t in title_tags:
    job_titles.append(t.text)
len(job_titles)

20

In [22]:
job_titles

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Senior Data Scientist I',
 'Data Scientist / Analyst',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Global Tax Automation & Operations / Data Scientist Advisor',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist I',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist / ML Engineer',
 'Data Scientist /Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Applied Data Scientist',
 'Senior Risk Data Scientist',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Deputy Manager - Data Scientist']

# Extracting Location

In [23]:
loc_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [24]:
loc_titles = []
for l in loc_tags:
    loc_titles.append(l.text)
len(loc_titles)

20

In [25]:
loc_titles

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru, Mumbai (All Areas), Hyderabad',
 'Bangalore/Bengaluru']

# Company name Extraction

In [26]:
comp_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(comp_tags)

20

In [27]:
comp_titles = []
for c in comp_tags:
    comp_titles.append(c.text)
len(comp_titles)

20

In [28]:
comp_titles

['Dell',
 'Delhivery',
 'Talentify',
 'IBM',
 'IBM',
 'Dell',
 'IBM',
 'IBM',
 'Delhivery',
 'IBM',
 'AVE-Promagne',
 'Dun & Bradstreet',
 'Gsn Games India',
 'GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED',
 'Walmart',
 'Spiceworks',
 'Tesco Bengaluru',
 'GSK India',
 'Wipro',
 'HDFC LIFE INSURANCE COMPANY LIMITED']

# Experience required extraction

In [29]:
exp_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [30]:
exp_titles = []
for e in exp_tags:
    exp_titles.append(e.text)
len(exp_titles)

20

In [31]:
exp_titles

['3-5 Yrs',
 '3-7 Yrs',
 '0-1 Yrs',
 '5-10 Yrs',
 '12-15 Yrs',
 '5-7 Yrs',
 '3-4 Yrs',
 '12-15 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '5-9 Yrs',
 '5-9 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-7 Yrs']

In [39]:
naukri_job = pd.DataFrame({'Job Title' :job_titles,'Location':loc_titles,'Company Name':comp_titles,'Expirence':exp_titles})

# Final Data Frame for Naukri.com

naukri_final = naukri_job.head(10)

In [43]:
naukri_final

,Job Title,Location,Company Name,Expirence
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell,3-5 Yrs
1,Senior Data Scientist I,Bangalore/Bengaluru,Delhivery,3-7 Yrs
2,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify,0-1 Yrs
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM,5-10 Yrs
4,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,12-15 Yrs
5,Global Tax Automation & Operations / Data Scie...,Bangalore/Bengaluru,Dell,5-7 Yrs
6,Data Scientist,Bangalore/Bengaluru,IBM,3-4 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,12-15 Yrs
8,Data Scientist I,Bangalore/Bengaluru,Delhivery,2-5 Yrs
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,3-7 Yrs

# Question number 2 :

In [42]:
    # I have already scraped the Data in question 1. So, only dropping the Experience column

In [44]:
naukri_final_2 = naukri_final.drop(['Expirence'], axis='columns')

In [45]:
naukri_final_2

,Job Title,Location,Company Name
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell
1,Senior Data Scientist I,Bangalore/Bengaluru,Delhivery
2,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
4,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
5,Global Tax Automation & Operations / Data Scie...,Bangalore/Bengaluru,Dell
6,Data Scientist,Bangalore/Bengaluru,IBM
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
8,Data Scientist I,Bangalore/Bengaluru,Delhivery
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM

# Question number 3 :

In [46]:
url1 = 'https://www.naukri.com/'
driver.get(url1)

In [47]:
search_job1= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job1

In [48]:
# write on search bar
search_job1.send_keys("Data Scientist")

In [49]:
search_btn1= driver.find_element_by_class_name("qsbSubmit")
search_btn1

In [51]:
search_btn1.click()

In [52]:
search_loc1= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')
search_loc1

In [53]:
search_loc1.click()

In [55]:
search_sal1=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
search_sal1

In [56]:
search_sal1.click()

# Extracting the Job titles

In [57]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [58]:
job_titles1 = []
for t1 in title_tags:
    job_titles1.append(t1.text)
len(job_titles1)

20

In [59]:
job_titles1

['Opening For Data Scientist',
 'Data Scientist II',
 'Data Scientist',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Junior Data Scientist - Goods & Service Tax Network, Delhi',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Senior DS/ Team Lead',
 'Data Scientist (ML AI Engineer) / InfoObjects Inc.',
 'Urgent Requirement || Data Scientist || Noida',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

# Extract Location of Job :

In [60]:
loc_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [61]:
loc_titles1 = []
for l1 in loc_tags:
    loc_titles1.append(l1.text)
len(loc_titles1)

20

In [62]:
loc_titles1

['Gurgaon/Gurugram',
 'Delhi / NCR',
 'Noida',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Noida',
 'New Delhi, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram(Cyber City +1)',
 'Indore, Jaipur, Delhi / NCR\n(WFH during Covid)',
 'Noida, Delhi / NCR',
 'Noida, New Delhi, Delhi / NCR',
 'New Delhi',
 'Delhi',
 'New Delhi',
 'Gurgaon, Bengaluru',
 'Delhi',
 'Delhi']

# Extracting of Company name :

In [63]:
comp_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(comp_tags)

20

In [64]:
comp_titles1 = []
for c1 in comp_tags:
    comp_titles1.append(c1.text)
len(comp_titles1)

20

In [65]:
comp_titles1

['Care Health Insurance',
 'Chegg',
 'Stefanini',
 'Microsoft',
 'Microsoft',
 'NISG (National Institute for Smart Government)',
 'Smart work Consultants',
 'Cloudstrats Technologies Private Limited',
 'Zekardo Automotive Solutions',
 'Team Computers Pvt Ltd',
 'NebulARC Technologies Private Limited',
 'INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED',
 'HCL',
 'GABA Consultancy services',
 'Boston Consulting Group',
 'iNICU',
 'Tide Software',
 'BlackBuck',
 'Mahajan Imaging',
 'Mahajan Imaging']

# Expirence required for Job :

In [66]:
exp_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [67]:
exp_titles1 = []
for e1 in exp_tags:
    exp_titles1.append(e1.text)
len(exp_titles1)

20

In [68]:
exp_titles1

['1-5 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '0-4 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '0-0 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '1-6 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '2-6 Yrs']

# Creating the Dataset with the extracted data

In [69]:
naukri_job1 = pd.DataFrame({'Job Title' :job_titles1,'Location':loc_titles1,'Company Name':comp_titles1,'Expirence':exp_titles1})

In [70]:
naukri_final1 = naukri_job1.head(10)

In [71]:
naukri_final1

,Job Title,Location,Company Name,Expirence
0,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
1,Data Scientist II,Delhi / NCR,Chegg,2-6 Yrs
2,Data Scientist,Noida,Stefanini,3-8 Yrs
3,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
4,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
5,Junior Data Scientist - Goods & Service Tax Ne...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
6,Associate Data Scientist - Java/ Scala/ Apache...,Noida,Smart work Consultants,1-4 Yrs
7,Data Scientist,"New Delhi, Delhi / NCR, Mumbai (All Areas)",Cloudstrats Technologies Private Limited,3-5 Yrs
8,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),Zekardo Automotive Solutions,5-8 Yrs
9,Data Scientist,New Delhi,Team Computers Pvt Ltd,2-6 Yrs

# Question number 4:

In [432]:
url2 = 'http://www.flipkart.com/'
driver.get(url2)

In [433]:
import time

In [473]:
search_item= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item

In [240]:
# write on search bar
search_item.send_keys("Sunglasses")

In [241]:
# Search button click
search_btn2= driver.find_element_by_class_name('L0Z3Pu')
search_btn2

In [242]:
search_btn2.click()

In [243]:
# Scrapping the brand of sunglasses from 1st page

In [244]:
brand_tags= driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [245]:
# Scrapping the Product description of sunglasses from 1st page
pro_tags= driver.find_elements_by_xpath('//a[starts-with(@class,"IRpwTa")]')
len(pro_tags)

40

In [246]:
# Scrapping the Price of sunglasses from 1st page
price_tags= driver.find_elements_by_xpath('//*[@class="_30jeq3"]')

In [247]:
#brand title list
brand_titles = []
for br in brand_tags:
    brand_titles.append(br.text)
total_len=len(brand_titles)

In [248]:
# Product description list
pro_titles = []
for pr in pro_tags:
    pro_titles.append(pr.text)
total_len1=len(pro_titles)

In [249]:
# Product price list
price_titles = []
for pri in price_tags:
    price_titles.append(pri.text)
total_len2=len(price_titles)

In [254]:
# assigning the next button 
a22= '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]'

In [255]:
it = 2

## Extracting the Product Name, Product description and Price till 100 items :

In [256]:
while total_len < 100:
        nxt_btn =''
        nxt_btn= driver.find_element_by_xpath(a22)
        nxt_btn.click()
        time.sleep(10)
        brand_tags= driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        pro_tags = driver.find_elements_by_xpath('//a[starts-with(@class,"IRpwTa")]')
        price_tags = driver.find_elements_by_xpath('//*[@class="_30jeq3"]')
        for btt in brand_tags:
            brand_titles.append(btt.text)
          
        for ptt in pro_tags:
            pro_titles.append(ptt.text)
           
        for prc in price_tags:
            price_titles.append(prc.text)
        total_len=len(brand_titles)  
        a22 =a22[:-2] + str(it) +']'
        it+=1

In [257]:
len(brand_titles)

120

In [258]:
len(pro_titles)

120

In [259]:
len(price_titles)

120

In [260]:
sunglass_details = pd.DataFrame({'Title' :brand_titles,'Product description':pro_titles,'Price':price_titles})

In [261]:
sunglass_details_final = sunglass_details.head(100)

## Final dataset for Sunglass Details for first 100 records :

In [262]:
sunglass_details_final

,Title,Product description,Price
0,VILLAIN,Others Wayfarer Sunglasses (Free Size),"₹1,099"
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179"
2,Elligator,UV Protection Round Sunglasses (54),₹248
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
...,...,...,...
95,Billion,"Polarized, UV Protection Aviator Sunglasses (55)",₹279
96,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹209
97,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (57)",₹664
98,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹449
99,VINCENT CHASE,by Lenskart UV Protection Round Sunglasses (48),"₹1,415"

# Question number 5 :

In [521]:
url3 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'
driver.get(url3)

In [522]:
review_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
review_btn.click()

In [523]:
rating_tags= driver.find_elements_by_xpath('//div[starts-with(@class,"_3LWZlK ")]')
len(rating_tags)

10

In [524]:
summ_tags= driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(summ_tags)

10

In [525]:
fullreview_tags= driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(fullreview_tags)

10

In [526]:
#Review title list
rating_titles = []
for rt in rating_tags:
    rating_titles.append(rt.text)
total_len5=len(rating_titles)

In [527]:
#Review title list
summ_titles = []
for st in summ_tags:
    summ_titles.append(st.text)

In [528]:
#Review title list
fr_titles = []
for fr in fullreview_tags:
    fr_titles.append(fr.text)

In [529]:
# assigning the next button 
a5 ='/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]'

In [530]:
while total_len5 < 100:
        nxt_btn5 =''
        nxt_btn5= driver.find_element_by_xpath(a5)
        nxt_btn5.click()
        time.sleep(10)
        a5 = " "
        rating_tags= driver.find_elements_by_xpath('//div[starts-with(@class,"_3LWZlK ")]')
        summ_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        fullreview_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for rtt in rating_tags:
            rating_titles.append(rtt.text)
          
        for summa in summ_tags:
            summ_titles.append(summa.text)
           
        for fur in fullreview_tags:
            fr_titles.append(fur.text)
        total_len5=len(rating_titles)
        a5='/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]'

In [531]:
len(rating_titles)

100

In [532]:
len(summ_titles)

100

In [533]:
len(fr_titles)

100

In [534]:
review_details = pd.DataFrame({'Rating' :rating_titles,'Summary':summ_titles,'Full Review':fr_titles})

In [535]:
review_details

,Rating,Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Highly recommended,"Amazing camera quality as expected, battery al..."
97,5,Must buy!,Dear friends... I want to share my experience ...
98,5,Must buy!,Camera is excellent just lack of telephoto mod...
99,5,Excellent,It was amazing experience for me. Honestly i a...

# Question number 6 :

In [542]:
url6 = 'http://www.flipkart.com/'
driver.get(url6)

In [543]:
import time

In [544]:
search_item= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item

In [545]:
# write on search bar
search_item.send_keys("Sneakers")

In [546]:
# Search button click
search_btn6= driver.find_element_by_class_name('L0Z3Pu')
search_btn6

In [547]:
search_btn6.click()

In [548]:
brand_tags= driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [549]:
# Scrapping the Product description of sunglasses from 1st page
pro_tags= driver.find_elements_by_xpath('//a[starts-with(@class,"IRpwTa")]')
len(pro_tags)

40

In [551]:
# Scrapping the Price of sunglasses from 1st page
price_tags= driver.find_elements_by_xpath('//*[@class="_30jeq3"]')
len(price_tags)

40

In [552]:
#brand title list
brand_titles = []
for br in brand_tags:
    brand_titles.append(br.text)
total_len=len(brand_titles)

In [553]:
# Product description list
pro_titles = []
for pr in pro_tags:
    pro_titles.append(pr.text)
total_len1=len(pro_titles)

In [554]:
# Product price list
price_titles = []
for pri in price_tags:
    price_titles.append(pri.text)
total_len2=len(price_titles)

In [555]:
# assigning the next button 
a22= '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]'
it = 2

In [556]:

while total_len < 100:
        nxt_btn =''
        nxt_btn= driver.find_element_by_xpath(a22)
        nxt_btn.click()
        time.sleep(10)
        brand_tags= driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        pro_tags = driver.find_elements_by_xpath('//a[starts-with(@class,"IRpwTa")]')
        price_tags = driver.find_elements_by_xpath('//*[@class="_30jeq3"]')
        for btt in brand_tags:
            brand_titles.append(btt.text)
          
        for ptt in pro_tags:
            pro_titles.append(ptt.text)
           
        for prc in price_tags:
            price_titles.append(prc.text)
        total_len=len(brand_titles)  
        a22 =a22[:-2] + str(it) +']'
        it+=1

In [557]:
sneakers_details = pd.DataFrame({'Title' :brand_titles,'Product description':pro_titles,'Price':price_titles})

In [558]:
sneakers_details_final = sneakers_details.head(100)

In [559]:
sneakers_details_final

            Title                                Product description   Price
0        RapidBox                  Stylish & Trendy Sneakers For Men    ₹630
1       PACIFIKOT                                   Sneakers For Men    ₹399
2            PUMA           Smash v2 L White- Black Sneakers For Men  ₹1,799
3        Elevarse         Stylish Comfortable shoes Sneakers For Men    ₹349
4          BRUTON  Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...    ₹499
..            ...                                                ...     ...
95       Roadster                Men White Sneakers Sneakers For Men  ₹1,692
96  RODDICK SHOES  Fashion Outdoor Canvas Casual Light Weight Lac...    ₹428
97       Magnolia                                   Sneakers For Men    ₹472
98          SPARX                            SM-439 Sneakers For Men    ₹849
99          CLYMB  Perfect Sports Shoes for Men's Running ,Cyclin...    ₹249

[100 rows x 3 columns]

# Question number 7

In [698]:
url7 = 'http://www.myntra.com/shoes'
driver.get(url7)

In [699]:
# Filter for price
search_price= driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
search_price

In [700]:
search_price.click()

In [701]:
#Filter for colour
search_colour= driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
search_colour

In [702]:
search_colour.click()

In [703]:
brand_tags= driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]')
len(brand_tags)

50

In [704]:
brand_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="c834cec6-d8dc-4384-90b5-72c1e853ab9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="90122933-e77d-4911-8774-99abac5a25a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="fe36c796-356b-40cf-9a7c-1bbe5ed982bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="a1c3dbc9-66aa-4c9b-8fbc-3423b3584d6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="021d2efd-c10f-4d9d-9767-79545eff3c88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="c13e0963-e9f9-46fa-a1c7-d01e4b0e3651")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="50abaf3c-0d7a-484f-9bff-a909ac0fd99e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="f38d05e2-1845-4c76-bf7d-ddd906bea9bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="f3cf4905-3100-4e00-b1c0-51c92b540142")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="93a8236b-8b57-440d-8e0d-7a32ef4b6e11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="668bb183-25ac-4b49-afe3-6a9f3bb7511c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="21471762-0487-44e9-95e8-9206e8ee29d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="afdfa105-3057-4a66-818e-38b27a3ba440")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="b1d6f954-4680-4253-b9e6-b027cdccb338")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="872973a4-e0dc-41b9-8284-2fae322e3f05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="c667a1ce-ec5e-4eb7-a11f-000d09859c84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="62edd776-3719-4774-a82c-9abb90c7ff2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="8f340121-15f8-441d-bc3d-5dd2f997c481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="ae52ae0d-74eb-4129-a4ed-76f8d4a5d409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="fed47ade-c9f4-447e-8ef8-69769aea5354")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="1c81ae26-ba3a-4608-adea-f2f5c2a7d1af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="35c173a8-48a0-4b25-bc39-fd0eaf9b4c2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="3c9cf09c-69e5-4e38-a68e-52768aa9f68b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="f90a3642-d8d5-43a7-ba60-3aab350b3e6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="e1843394-7283-4a42-9d4f-4543b797ddc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="132d9e50-bf98-4016-996e-bd471f7cd33f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="f66fa167-7241-4d55-8d1e-470fa1826a6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="6bc33934-2eaf-45be-a641-78af0a79aa4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="ba97ada1-85cf-4815-9c65-1ef5692c8132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="d3eee8ec-38b6-4387-8324-799cc49e39e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="1dbee4ed-5374-4a29-9120-f703d8efe48b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="4c70964b-bbe1-4d81-b82b-bea46bc8ddb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="07c5258e-f9bd-4496-8ce8-c29e519d660c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="6ef14914-8072-4783-84f9-587ebcdb01e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="d881d874-4af5-4aa3-83bf-dc8cf8aa8aa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="e5b8b10f-bc9b-41cd-be95-e2aaef78f28b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="4f4c3e46-3dbe-4052-a896-ad845f4f0c0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="9e466363-4a8c-4a42-aa88-5bb049f34db1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="c65ec5ab-98e6-42ea-b487-7497b7cdf196")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="4c44c4dd-54aa-4c28-ba6c-9f16e7123b2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="38307df6-0b71-458f-8a39-86dd58d78039")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="2ee03b7a-a608-4bd0-a535-b689bd82151f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="8b1f4b00-8f5b-4a38-acc3-ce32954a689e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="0e0ef83e-b6f8-44df-8ac0-83a3ba2b2776")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="58437481-fc8c-4ad0-a738-2f1f06e7afba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="fb20176b-0beb-45b5-aa3b-54a59b8169be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="9e380a83-e631-4079-af58-9289a4986c21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="4942bfe5-e713-4838-8c81-d08c8bc76e25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="45997d06-d6d0-481e-a13f-a9045b9cfd09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="f8233221-bd69-4dbd-8fbd-401219cbf7b8")>]

In [705]:
#brand title list
brand_titles = []
for br in brand_tags:
    brand_titles.append(br.text.splitlines()[0])
total_len=len(brand_titles)

In [706]:
brand_titles

['Nike',
 'Tommy Hilfiger',
 'ALDO',
 'Nike',
 'Tommy Hilfiger',
 'DAVINCHI',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'ASICS',
 'RARE RABBIT',
 'Skechers',
 'Puma',
 'PUMA Motorsport',
 'Hush Puppies',
 'Puma',
 'Tommy Hilfiger',
 'Hush Puppies',
 'New Balance',
 'Puma',
 'Reebok',
 'Bugatti',
 'RARE RABBIT',
 'Puma',
 'Bugatti',
 'ALDO',
 'Columbia',
 'Xtep',
 'Saint G',
 'ASICS',
 'Puma',
 'Saint G',
 'Hush Puppies',
 'Hush Puppies',
 'DAVINCHI',
 'Hush Puppies',
 'MANGO',
 'Royal Enfield',
 'J.FONTINI',
 'Heel & Buckle London',
 'Hush Puppies',
 'Hush Puppies',
 'DAVINCHI',
 'Saint G',
 'Tommy Hilfiger',
 'Clarks',
 'Saint G']

In [707]:
#brand title list
brand_desc = []
for bd in brand_tags:
    brand_desc.append(bd.text.splitlines()[1])

In [708]:
brand_desc

['Men AIR ZOOM PEGASUS 38',
 'Men Solid Loafers',
 'Men Printed Sneakers',
 'Men Blazer Court Skateboarding',
 'Men Leather Sneakers',
 'Men Textured Formal Leather Loafers',
 'Men Leather Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Men Running Shoes',
 'Men Magnify Nitro Running',
 'Men Deviate Nitro Running Shoe',
 'Men Electrify Nitro Running',
 'Women Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Go Run Hyper Burst Running',
 'Men Training or Gym Shoes',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Women Magnify Nitro Shoes',
 'Leather Sandals',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Woven Design Running Shoes',
 'Men Liberate Nitro Running',
 'Men Astroride Forever Running',
 'Men Black Walking Shoes',
 'Men Leather Flat Boots',
 'Women Eternity NITRO Shoes',
 'Men Textured Leather High-Top Flat Boots',
 'Wedge Sandals',
 'NEWTON RIDGE PLUS II WATERPROOF',
 'Men Running Shoes',
 'Men Mid-Top Chelsea Boots',
 'Men Colourblocked PU Sneakers',
 'Women Velocity NITRO Runners',
 'Men Leather Chelsea Boots',
 'Men Solid Leather Formal Derbys',
 'Men Formal Derbys',
 'Ustraa black',
 'Men Solid Formal Slip-Ons',
 'Women Mid Top Chunky Flat Boot',
 'Cabo WP Riding Boots',
 'Men Textured Leather Loafers',
 'Men Solid Leather Formal Loafers',
 'Men Leather Derbys',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Women ELEVATED Leather Sneaker',
 'Men Solid Leather Formal Loafers',
 'Leather Block Heeled Boots']

In [709]:
#Shoes Price
brand_price = []
for bp in brand_tags:
    brand_price.append(bp.text.splitlines()[2].split()[1])

In [710]:
brand_price

['10920Rs.',
 '8999',
 '9099Rs.',
 '7495',
 '7999',
 '8990',
 '7999',
 '12999',
 '9749Rs.',
 '7799Rs.',
 '10499Rs.',
 '9999',
 '7999',
 '7999',
 '7649Rs.',
 '7999',
 '7999',
 '8999',
 '7799Rs.',
 '7599',
 '7999',
 '7699Rs.',
 '7499Rs.',
 '7199Rs.',
 '7199Rs.',
 '7999Rs.',
 '12999',
 '8399Rs.',
 '7999',
 '8499',
 '7699',
 '10500Rs.',
 '9999',
 '7149Rs.',
 '10710Rs.',
 '9999',
 '9999',
 '8990',
 '9999',
 '7191Rs.',
 '8500',
 '8490',
 '11990',
 '7999',
 '9999',
 '8490',
 '12325Rs.',
 '7219Rs.',
 '7999',
 '9265Rs.']

In [711]:
# assigning the next button 
a7= '/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a'
it = 2

In [712]:

while total_len < 100:
        nxt_btn =''
        nxt_btn= driver.find_element_by_xpath(a7)
        nxt_btn.click()
        time.sleep(20)
        brand_tags= driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]')
        for btt6 in brand_tags:
            brand_titles.append(btt6.text.splitlines()[0])
            brand_desc.append(btt6.text.splitlines()[1])
            brand_price.append(btt6.text.splitlines()[2].split()[1])
          
        total_len=len(brand_titles)  
       
        it+=1

In [716]:
len(brand_titles)

100

In [717]:
len(brand_desc)

100

In [718]:
 len(brand_price)

100

In [719]:
import pandas as pd
df7 = pd.DataFrame({'Brand':brand_titles,'Shoe Description':brand_desc,'Price':brand_price})

In [720]:
df7

                   Brand                Shoe Description     Price
0                   Nike         Men AIR ZOOM PEGASUS 38  10920Rs.
1         Tommy Hilfiger               Men Solid Loafers      8999
2                   ALDO            Men Printed Sneakers   9099Rs.
3                   Nike  Men Blazer Court Skateboarding      7495
4         Tommy Hilfiger            Men Leather Sneakers      7999
..                   ...                             ...       ...
95                Clarks              Men Leather Derbys      9999
96  Heel & Buckle London            Men Leather Sneakers     13990
97               Saint G      Women Leather Heeled Boots  12325Rs.
98               Saint G      Women Leather Heeled Boots  14025Rs.
99               Saint G      Women Leather Heeled Boots  11815Rs.

[100 rows x 3 columns]

# Question Number 8 :

In [986]:
url8 = 'https://www.amazon.in'
driver.get(url8)

In [987]:
search_item= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_item

In [988]:
# write on search bar
search_item.send_keys("Laptop")

In [989]:
# Search button click
search_btn8= driver.find_element_by_class_name('nav-right')
search_btn8

In [990]:
search_btn8.click()

In [991]:
# Searching for i7 Laptop:
search_i7= driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
search_i7

In [992]:
search_i7.click()

In [993]:
brand_i7= driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
len(brand_i7)

30

In [998]:

#brand title list for i7
brand_titles_i7 = []
for i7 in brand_i7:
    brand_titles_i7.append(i7.text)

In [999]:
brand_titles_i7

['LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1F38024',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HEB-HN248T',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14" (35.56cm)QHD IPS Thin & Light Laptop(16GB/512GB SSD/Iris Xe Graphics/3Yr Warranty/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'HP Pavilion Gaming 11th Gen Intel Core i7 Processor 39.62 cm(15.6-inch) FHD Gaming Laptop (16GB/512GB SSD/Win 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23 Kg), 15-dk2096TX',
 'MSI GF75 Thin Gaming, Intel Core i7-10750H, 44cm IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GeForce GTX 1650/GDDR6 4GB/Black/2.2kg) 10SCXR-654IN',
 'HP Pavilion 11th Gen Intel Core i7 15.6 inches FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/4GB NVIDIA GeForce GTX 1650 Graphics/Windows 10 Home/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx',
 'Acer Predator Helios 300 Gaming Laptop 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Display (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/300 Hz, Black, 2.3 kg) PH315-54',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Acer Nitro 5 11th Gen Intel Core i5-11400H 15.6 inches FHD 144Hz Gaming Laptop (8GB/512GB SSD/Windows 10/4 GB Graphics/NVIDIA GeForce GTX 1650/Shale Black, 2.2 kg/RGB Backlit Keyboard) AN515-57',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1F38024',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14 inches FHD Business Laptop (16GB/512GB SSD/Office 2019/Windows 10 Home/Iris Xe Graphics/Pine Grey/1.17 kg), UX425EA-KI701TS',
 'ASUS VivoBook K15 OLED (2021), 15.6-inch (39.62 cms) FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Office 2021/Windows 11/Silver/1.8 Kg) K513EA-L712WS',
 '(Renewed) MI Mi Notebook Horizon Edition 14 Intel 10th Gen Core i7 14-Inch (35.56 cms) 1920x1080 Thin and Light Laptop (8 GB/512 GB SSD/Windows 10 Home/NVIDIA GeForce MX350/Grey/1.35 Kg), XMA1904-AF',
 'ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD 240Hz/3ms, Intel Core i7-11370H, GeForce RTX 3060 6GB Graphics, Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10 Home/Gray/2 Kg) FX516PM-AZ153TS',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (32 GB/1TB SSD/Win 11 Home/8 GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3 kg) PH315-54',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/500GB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'LG Gram 14 Intel Evo 11th Gen Core i7 14 inches Ultralight Laptop (16 GB RAM, 512 GB SSD, Windows 10, Iris Xe Graphics Thunderbolt 4, USC -Cx2 (with Power), 0.999kg, 14Z90P, Black)',
 'Dell 14 (2021) Intel i7-1195G7 14.0 inches FHD Display 2in1 Touch Screen Laptop (16GB/512GB SSD/Windows 10 + MS Office Backlit KB, FPR + Active Pen/Platinum Silver, Inspiron 5410, D560596WIN9S), 1.5kg',
 'Dell 15 (2021) Intel i7-10870H Gaming Laptop, 16GB DDR4, 512GB SSD, Windows 10 + MS Office, NVIDIA RTX 3050 Ti 4GB, 15.6 inches FHD AG 250 nits 120Hz, Backlit KB Orange (G15 5510, D560534WIN9B), 2.4kg',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Gray/2 Kg), FX516PCZ-HN091T',
 'Acer Predator Helios 300 Gaming Laptop 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Display (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/300 Hz, Black, 2.3 kg) PH315-54',
 'MSI GF75 Thin Gaming, Intel Core i7-10750H, 44cm IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GeForce GTX 1650/GDDR6 4GB/Black/2.2kg) 10SCXR-654IN',
 'Acer Nitro 5 11th Gen Intel Core i5-11400H 15.6 inches FHD 144Hz Gaming Laptop (8GB/512GB SSD/Windows 10/4 GB Graphics/NVIDIA GeForce GTX 1650/Shale Black, 2.2 kg/RGB Backlit Keyboard) AN515-57']

In [1000]:
# Price of Laptop for i7
price_i7= driver.find_elements_by_xpath('//a[@class="a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
len(price_i7)

30

In [1001]:
#brand rating list for i7
brand_price_i7 = []
for ri7 in price_i7:
    brand_price_i7.append(ri7.text.splitlines()[0])

In [1002]:
brand_price_i7

['₹92,999',
 '₹92,490',
 '₹59,990',
 '₹86,990',
 '₹88,990',
 '₹96,990',
 '₹81,990',
 '₹89,990',
 '₹99,499',
 '₹95,990',
 '₹70,000',
 '₹1,02,000',
 '₹1,39,457',
 '₹84,990',
 '₹59,990',
 '₹65,990',
 '₹92,490',
 '₹88,990',
 '₹82,990',
 '₹48,990',
 '₹1,28,990',
 '₹1,79,990',
 '₹34,899',
 '₹1,00,699',
 '₹94,353',
 '₹95,990',
 '₹94,990',
 '₹1,39,457',
 '₹70,000',
 '₹65,990']

In [1003]:
# Clearing the i7 log and moving to i9 log as Amazon only allows one CPU type to select at a time

back_btn= driver.find_element_by_xpath('//*[@id="filters"]/ul[3]/li[1]/span/a/span[2]')
back_btn

In [1004]:
back_btn.click()

In [1005]:
# Searching for i9 Laptops
search_i9= driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span')
search_i9

In [1006]:
search_i9.click()

In [1007]:
brand_i9= driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
len(brand_i9)

10

In [1008]:
#brand title list for i9
brand_titles_i9 = []
for i9 in brand_i9:
    brand_titles_i9.append(i9.text)

In [1009]:
brand_titles_i9

['ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6” FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 Nits Display, Thin & Light , Anti-Glare(32GB RAM/1TB M.2 SSD/Nvidia RTX A2000 4GB Graphics/Win10 Pro/IR Camera/ HP Zbook Power G8 Mobile Workstation',
 '(Renewed) DELL XPS 7590 15.6-inch UHD Display Laptop (9th Gen Core i9-9980HK/32GB/1TB SSD/Win 10 + MS Office/4GB Nvidia Graphics), Abyss Grey',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz 10C) /16GB RAM/512GB SSD+1TB SATA/Nvidia RTX 3070 8GB Graphics/DVDRW/Windows 10 Pro/3 Year Warranty',
 'HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz 8 Core/64GB DDR4/ 2TB PCIe NVMe SSD /15.6” FHD/Nvidia Quadro RTX A2000 Graphics 4GB DDR6/ 1RJ45/ Windows 10 Pro/ 3 Year Warranty from HP']

In [1010]:
# Searching for price of i9 Laptop
price_i9= driver.find_elements_by_xpath('//a[@class="a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
len(price_i9)

10

In [1011]:
brand_price_i9 = []
for bp9 in price_i9:
    brand_price_i9.append(bp9.text.splitlines()[0])

In [1012]:
brand_price_i9

['₹1,39,990',
 '₹1,44,990',
 '₹1,43,990',
 '₹2,43,000',
 '₹2,25,000',
 '₹2,54,563',
 '₹1,75,000',
 '₹2,25,000',
 '₹2,39,000',
 '₹2,93,000']

In [1026]:
first10_title_i7 =[]
first10_price_i7 =[]

In [1027]:
first10_title_i7= brand_titles_i7[0:10]
first10_price_i7 = brand_price_i7[0:10]

In [1028]:
# Creating Final Dataset for i7 Laptops
i7_laptops = pd.DataFrame({'Title' :first10_title_i7,'Price ':first10_price_i7})

In [1029]:
first10_title_i9 =[]
first10_price_i9 =[]

In [1030]:
first10_title_i9= brand_titles_i9[0:10]
first10_price_i9 = brand_price_i9[0:10]

In [1031]:
# Creating Final Dataset for i9 Laptops
i9_laptops = pd.DataFrame({'Title' :first10_title_i9,'Price ':first10_price_i9})

In [1032]:
i7_laptops

                                               Title   Price
0  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  ₹92,999
1  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....  ₹92,490
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  ₹59,990
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...  ₹86,990
4  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  ₹88,990
5  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  ₹96,990
6  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...  ₹81,990
7  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  ₹89,990
8  LG Gram Intel Evo 11th Gen Core i7 17 inches U...  ₹99,499
9  HP Pavilion Gaming 11th Gen Intel Core i7 Proc...  ₹95,990

In [1033]:
i9_laptops

                                               Title     Price
0  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  ₹1,39,990
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  ₹1,44,990
2  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  ₹1,43,990
3  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...  ₹2,43,000
4  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...  ₹2,25,000
5  HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 N...  ₹2,54,563
6  (Renewed) DELL XPS 7590 15.6-inch UHD Display ...  ₹1,75,000
7  Dell Precision 5550 || i9 -10885H || 16GB || 1...  ₹2,25,000
8  Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...  ₹2,39,000
9  HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz...  ₹2,93,000

# Question number 9 :

In [848]:
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [829]:
url9 = 'http://www.ambitionbox.com/'
driver.get(url9)

In [831]:
#  Job Search button click
job9= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job9

In [832]:
job9.click()

In [841]:
# Search Job- Data scientist
search_job= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job

In [842]:
# write on search bar
search_job.send_keys("Data Scientist")

In [852]:
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input").send_keys('Keys.ENTER')

In [853]:
driver.refresh()

In [854]:
search_jobd= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_jobd

In [855]:
search_jobd.click()

In [ ]:
/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label

In [856]:
search_noida= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_noida.send_keys("Noida")

In [857]:
click_noida= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
click_noida.click()

In [862]:
Noida_des= driver.find_elements_by_xpath('//a[@class="title noclick"]')
Noida_des

[<selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="9ac5cb25-2d52-4954-b3b6-8723c3e57c53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="6682d3dc-ca35-405b-a05d-56ef32de45b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="56957579-3f19-4439-a7eb-d3fe74213cb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="1cfdf506-f2d3-4195-9586-0599e204f317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="aa627be7-9fd9-4750-bedc-b3ca1efb3025")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="50a5b722-bad1-4983-a1a8-c80db830b75d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="a824fbe8-bbde-4689-8221-729164485b4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="7ea5c185-f1f9-4efe-bce8-6b35c8fc1d00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="10f14ed8-5eec-403a-859c-ec81b778344a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="a5ec9012-febe-48fa-be43-e9ba672d0ca6")>]

In [863]:
#Job title list
job_titles = []
for nd in Noida_des:
    job_titles.append(nd.text)

In [864]:
job_titles

['Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'EY GDS - Assistant Director - Data Science - AI/ML (15-20 yrs)',
 'Opportunity | Tavant India',
 'Looking For Senior Data Scientist For Denave',
 'Lead Assistant Manager',
 'CogniTensor - Data Scientist (1-2 yrs)',
 'Data Scientist | Data Engineer | Machine Learning',
 'Data Scientist - Machine Learning (5-14 yrs)',
 'Manager Data Scientist']

In [865]:
# Company Name list
Noida_com= driver.find_elements_by_xpath('//p[@class="company body-medium"]')
Noida_com

[<selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="1060f19e-1bca-43c3-8edf-9461e7cfcdfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="c9bc6dfe-53ef-445f-bd3f-89357328fed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="634f5ab6-22b5-40b5-ba7b-a15d30decef3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="f3d4dd37-6c4d-485c-b7a3-e6b3e52c1715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="0ad8ecbd-19e0-40e7-ae13-2d51555f6257")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="acf5ea23-2192-408a-a852-3a1cb059d756")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="a8ffacf5-21d2-4606-a852-6990bd483c2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="375fa0ed-732a-4d76-a93f-4cf945c2bfe1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="aeb78cc8-c5c3-4068-9e95-a206d4e0d200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="1ae46b58-89c6-47f3-b85f-f512ef9ca4ab")>]

In [866]:
#Job Comapny list
job_comp = []
for jc in Noida_com:
    job_comp.append(jc.text)

In [867]:
job_comp

['Jubilant Foodworks Limited',
 'HCL Technologies',
 'EY GDS',
 'Tavant Technologies India Pvt. Ltd.',
 'Denave India Pvt Ltd.',
 'EXL Service',
 'CHT Sapiense',
 'Pitney Bowes India Pvt ltd',
 'Zyoin',
 'Ameriprise Financial']

In [868]:
# Company expirence required list
Noida_exp= driver.find_elements_by_xpath('//div[@class="other-info"]')
Noida_exp

[<selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="ba96cf9e-de81-4295-a97f-d459077c04ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="120e9fa6-f2be-432a-b56d-d058ab01d776")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="969b48bc-9eeb-4183-a07f-b02da0b1293d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="ba81820c-fe5f-4a70-a7e0-b6f034c78684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="c272ff5a-a5ef-4b40-99ed-45c91825a036")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="398699ba-5f4a-4d29-a747-27318606dca8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="a803138e-2fe9-45d6-adf2-b39005f07a77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="9a284a96-edea-4d6d-a038-d0d3fabc0cd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="6598cb8e-e630-441b-9014-cbed32fd3b91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="18f2b71a-5f96-44c6-952f-53dce7dc4412")>]

In [871]:
#Comapny Experience list
job_exp = []
for je in Noida_exp:
    job_exp.append(je.text.splitlines()[0])

In [872]:
job_exp

['2-5 Yrs',
 '3-8 Yrs',
 '15-20 Yrs',
 '4-9 Yrs',
 '7-12 Yrs',
 '0-5 Yrs',
 '1-2 Yrs',
 '4-9 Yrs',
 '5-14 Yrs',
 '4-6 Yrs']

In [873]:
# FInal Data Frame
job_details = pd.DataFrame({'Title' :job_titles,'Company Name':job_comp,'Experience Required':job_exp})

In [874]:
job_details

,Title,Company Name,Experience Required
0,Data Scientist,Jubilant Foodworks Limited,2-5 Yrs
1,Urgent Requirement || Data Scientist || Noida,HCL Technologies,3-8 Yrs
2,EY GDS - Assistant Director - Data Science - A...,EY GDS,15-20 Yrs
3,Opportunity | Tavant India,Tavant Technologies India Pvt. Ltd.,4-9 Yrs
4,Looking For Senior Data Scientist For Denave,Denave India Pvt Ltd.,7-12 Yrs
5,Lead Assistant Manager,EXL Service,0-5 Yrs
6,CogniTensor - Data Scientist (1-2 yrs),CHT Sapiense,1-2 Yrs
7,Data Scientist | Data Engineer | Machine Learning,Pitney Bowes India Pvt ltd,4-9 Yrs
8,Data Scientist - Machine Learning (5-14 yrs),Zyoin,5-14 Yrs
9,Manager Data Scientist,Ameriprise Financial,4-6 Yrs

# Question Number 10:

In [904]:
url10 = 'http://www.ambitionbox.com/'
driver.get(url10)

In [905]:
#  Job Search button click
job10= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
job10

In [906]:
job10.click()

In [907]:
# Search Job- Data scientist
search_job10= driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job10

In [908]:
# write on search bar
search_job10.send_keys("Data Scientist")

In [909]:
# Clicking the search button
btn_src= driver.find_element_by_xpath('//div[@class="top-row"]')
btn_src

In [910]:
btn_src.click()

In [911]:
# Company expirence required list
comp_name= driver.find_elements_by_xpath('//div[@class="name"]')
comp_name

[<selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="3517f71c-acea-42e5-a3e6-a22930f3bc90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="81f46493-d102-4c51-850b-9a8384619db0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="ae96f776-f38d-49b3-b7f7-a2f26dae7c45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="d22f46e2-4970-4a05-a2ef-dbad999071c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="eceb50df-2539-4993-91d4-af4852d0387f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="42b0e079-f612-4894-b33d-9e2f879f30aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="46f6090a-afa9-4e8a-83ed-b772d962794b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="a18536df-5f2f-414d-bc1f-e42c9f60f158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="93edc725-5226-4b15-bdb0-6317acebb1bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="9b84b2ab-2e31-4c4d-9206-f9720f9f360e")>]

In [917]:
#Job title list
job_titles = []
job_total_sal_rec  =[]
for jt in comp_name:
    job_titles.append(jt.text.splitlines()[0])
    job_total_sal_rec.append(jt.text.splitlines()[1])

In [918]:
job_titles

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [919]:
job_total_sal_rec

['based on 10 salaries',
 'based on 25 salaries',
 'based on 13 salaries',
 'based on 25 salaries',
 'based on 75 salaries',
 'based on 30 salaries',
 'based on 51 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 43 salaries']

In [920]:
# Company expirence required list
comp_exp= driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
comp_exp

[<selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="e1dd9ec5-f5ee-4076-9867-5207b0ca9d91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="5f14aa77-19be-4cfc-87b9-c4282ad77ce4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="94f0ad7a-cf94-4a9c-8fb9-23fe2ddb282d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="28317d65-66ad-4ef7-9dd8-e02b473369c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="296e821f-8be3-4c0f-8f22-d76dbc95dbe7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="71162322-19f6-4f3b-b55d-97d43560128d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="21647822-5bec-4f0b-8eec-100bf034c098")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="8a8e16d8-1b30-435d-9d7c-587c2a17ebc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="1accae7b-2f03-4fea-b210-e0f4d08ea532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="12ca2abc-8f27-4bab-8640-5c45fd39379f")>]

In [927]:
#Job Experience list
job_exp = []
for je in comp_exp:
    job_exp.append(je.text.splitlines()[2])

In [928]:
job_exp

['3 yrs exp',
 '3-4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp']

In [929]:
# Salary extraction Min, mAx and Average
comp_sal= driver.find_elements_by_xpath('//div[@class="result-col salary-range"]')
comp_sal

[<selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="b6d1aaf1-4c95-4973-9124-8d61c1d4ab94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="ca71cb05-641a-40bf-8f6f-df82bd35400c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="79ca8e9a-1d11-4a02-b6be-784ccbfcf30e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="cba84d10-7932-4568-bfd6-552574594fd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="c789aae1-a074-4caf-9757-0ccda4007908")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="bb632ce5-8f5e-4c78-a938-b61d96f42ca3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="9f194ff1-a266-45b3-94c5-def860dcafce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="7d56cd79-588f-4392-8561-ab90cf9365af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="e2f31199-f66c-44a4-827f-2126a5d4e6da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d9f21bceeafc69e227e363c421683083", element="47ef1cee-b88d-45b5-ae69-2d28c5aa8344")>]

In [934]:
job_sal_min = []
job_sal_max = []
job_sal_avg = []
for js in comp_sal:
    job_sal_min.append(js.text.splitlines()[0])
    job_sal_avg.append(js.text.splitlines()[1])
    job_sal_max.append(js.text.splitlines()[2])

In [935]:
job_sal_min

['₹ 28.7L',
 '₹ 20.2L',
 '₹ 15.5L',
 '₹ 15.1L',
 '₹ 15.1L',
 '₹ 14.2L',
 '₹ 13.8L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [937]:
job_sal_avg

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [938]:
job_sal_max

['₹ 35.0L',
 '₹ 25.5L',
 '₹ 20.0L',
 '₹ 21.3L',
 '₹ 22.0L',
 '₹ 18.5L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 24.0L']

In [941]:
# Creating final Data Set

# FInal Data Frame
job_sal_details = pd.DataFrame({'Company Name' :job_titles,'Total Salary Record':job_total_sal_rec,'Experience Required':job_exp,'Minimun Salary':job_sal_min,'Maximum Salary':job_sal_max,'Average Salary':job_sal_avg})

In [942]:
job_sal_details

,Company Name,Total Salary Record,Experience Required,Minimun Salary,Maximum Salary,Average Salary
0,Walmart,based on 10 salaries,3 yrs exp,₹ 28.7L,₹ 35.0L,₹ 17.7L
1,Ab Inbev,based on 25 salaries,3-4 yrs exp,₹ 20.2L,₹ 25.5L,₹ 15.0L
2,ZS,based on 13 salaries,2 yrs exp,₹ 15.5L,₹ 20.0L,₹ 9.8L
3,Optum,based on 25 salaries,3-4 yrs exp,₹ 15.1L,₹ 21.3L,₹ 11.0L
4,Fractal Analytics,based on 75 salaries,2-4 yrs exp,₹ 15.1L,₹ 22.0L,₹ 9.5L
5,Tiger Analytics,based on 30 salaries,3-4 yrs exp,₹ 14.2L,₹ 18.5L,₹ 9.0L
6,UnitedHealth,based on 51 salaries,2-4 yrs exp,₹ 13.8L,₹ 20.5L,₹ 8.3L
7,Verizon,based on 14 salaries,4 yrs exp,₹ 12.7L,₹ 21.0L,₹ 10.0L
8,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 12.4L,₹ 15.0L,₹ 8.5L
9,Ericsson,based on 43 salaries,3-4 yrs exp,₹ 11.9L,₹ 24.0L,₹ 5.8L