# WEB SCRAPING – ASSIGNMENT 4

## Question 1

In [500]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import *
import pandas as pd # library for data analysis
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents

In [498]:
driver = webdriver.Chrome(r'C:\Users\Blade\Desktop\Flip Robo\chromedriver_win32\chromedriver.exe')

In [501]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [502]:
current_url=driver.current_url

In [503]:
wikiurl= current_url
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [504]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [505]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
df.drop(df.columns[[6]], axis=1, inplace=True)
df.drop(['Note'], axis=1, inplace=True)

In [506]:
df

,No.,Video name,Uploader,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.35,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.79,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.24,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.65,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.45,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.12,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,4.56,"February 27, 2018"
7,8.,"""Phonics Song with Two Words""[22]",ChuChu TV,4.52,"March 6, 2014"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.50,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.37,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[30]",El Chombo,3.89,"April 5, 2018"
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,3.82,"May 24, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.66,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.54,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.53,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.52,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.42,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.28,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.25,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.25,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.24,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.19,"July 25, 2012"
23,24.,"""Bailando""[42]",Enrique Iglesias,3.18,"April 11, 2014"
24,25.,"""Lean On""[43]",Major Lazer,3.18,"March 22, 2015"
25,26.,"""Baa Baa Black Sheep""[44]",Cocomelon – Nursery Rhymes,3.17,"June 25, 2018"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.15,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.12,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.09,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.05,"June 29, 2017"
30,"As of March 20, 2022","As of March 20, 2022","As of March 20, 2022","As of March 20, 2022","As of March 20, 2022"

# Question 2

In [99]:
url='https://www.bcci.tv/'
driver.get(url)

In [101]:
search_btn= driver.find_element_by_xpath('//*[@id="navigation"]/ul[1]/li[2]/a')
search_btn

In [102]:
search_btn.click()

In [110]:
title = driver.find_elements_by_xpath('//span[@class="ng-binding"]')
len(title)

7

### Extracting title

In [111]:
ttl=[]
for i in title:
    ttl.append(i.text)

In [112]:
ttl

['ICC WOMENS WORLD CUP 2022',
 'ICC WOMENS WORLD CUP 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022']

### Extracting date

In [117]:
date = driver.find_elements_by_xpath('//h5[@class="ng-binding"]')
len(date)

7

In [118]:
dt=[]
for i in date:
    dt.append(i.text)

In [119]:
dt

['22 MAR 2022',
 '27 MAR 2022',
 '9 JUN 2022',
 '12 JUN 2022',
 '14 JUN 2022',
 '17 JUN 2022',
 '19 JUN 2022']

### Extracting time

In [122]:
time = driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]')
len(time)

7

In [123]:
tm=[]
for i in time:
    tm.append(i.text)

### Extracting place

In [127]:
place = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')
len(place)

7

In [128]:
pc=[]
for i in place:
    pc.append(i.text)

### Creating final dataset

In [130]:
bcci = pd.DataFrame({'Title' :ttl,'Date':dt,'Time':tm,'Place': pc})

In [131]:
bcci

,Title,Date,Time,Place
0,ICC WOMENS WORLD CUP 2022,22 MAR 2022,6:30 AM IST,"Seddon Park, Hamilton"
1,ICC WOMENS WORLD CUP 2022,27 MAR 2022,6:30 AM IST,"Hagley Oval, Christchurch"
2,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,9 JUN 2022,7:30 PM IST,"1st T20I - MA Chidambaram Stadium, Chennai"
3,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,12 JUN 2022,7:30 PM IST,"2nd T20I - M Chinnaswamy Stadium, Bengaluru"
4,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,14 JUN 2022,7:30 PM IST,3rd T20I - Vidarbha Cricket Association Stadiu...
5,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,17 JUN 2022,7:30 PM IST,4th T20I - Saurashtra Cricket Association Stad...
6,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,19 JUN 2022,7:30 PM IST,"5th T20I - Arun Jaitley Stadium, Delhi"

# Question 3

In [3]:
url='https://www.guru99.com/'
driver.get(url)

In [4]:
search_btn= driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
search_btn

In [5]:
search_btn.click()

In [6]:
search_btn= driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
search_btn.click()

In [55]:
# assigning the next button 
a3= '//*[@id="post-1953"]/div/div/table/tbody/tr[2]/td[1]'
it = 2
total_len= 0
head =[]

In [56]:
while total_len < 9:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            head.append(btt6.text)
        a3 =a3[:-8] + str(it) +']/td[1]'
        
        total_len+=1 
        it+=1
a3= '//*[@id="post-1953"]/div/div/table/tbody/tr[11]/td[1]'
while total_len < 50:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            head.append(btt6.text)
        a3 =a3[:-9] + str(it) +']/td[1]'
        total_len+=1 
        it+=1

In [57]:
len(head)

42

In [59]:
head= head[1:]

In [10]:
descr=[]

In [11]:
desc= driver.find_elements_by_xpath('//table[@class="table table-striped"]')

In [12]:
for btt6 in desc:
    #descr.append(btt6.text.splitlines()[0])
    #descr.append(btt6.text.splitlines()[1])
    descr.append(btt6.text.splitlines()[1:])

In [13]:
descr

[['ElementNotVisibleException This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
  'ElementNotSelectableException This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
  'NoSuchElementException This Exception occurs if an element could not be found.',
  'NoSuchFrameException This Exception occurs if the frame target to be switched to does not exist.',
  'NoAlertPresentException This Exception occurs when you switch to no presented alert.',
  'NoSuchWindowException This Exception occurs if the window target to be switch does not exist.',
  'StaleElementReferenceException This Selenium exception occurs happens when the web element is detached from the current DOM.',
  'SessionNotFoundException The WebDriver is acting after you quit the browser.',
  'TimeoutException Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
  'WebDriverException This Exception takes place when the WebDriver is acting right after you close the browser.',
  'ConnectionClosedException This type of Exception takes place when there is a disconnection in the driver.',
  'ElementClickInterceptedException The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
  'ElementNotInteractableException This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
  'ErrorInResponseException This happens while interacting with the Firefox extension or the remote driver server.',
  'ErrorHandler.UnknownServerException Exception is used as a placeholder in case if the server returns an error without a stack trace.',
  'ImeActivationFailedException This expectation will occur when IME engine activation has failed.',
  'ImeNotAvailableException It takes place when IME support is unavailable.',
  'InsecureCertificateException Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
  'InvalidArgumentException It occurs when an argument does not belong to the expected type.',
  'InvalidCookieDomainException This happens when you try to add a cookie under a different domain instead of current URL.',
  'InvalidCoordinatesException This type of Exception matches an interacting operation that is not valid.',
  'InvalidElementStateExceptio It occurs when command can’t be finished when the element is invalid.',
  'InvalidSessionIdException This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
  'InvalidSwitchToTargetException This occurs when the frame or window target to be switched does not exist.',
  'JavascriptException This issue occurs while executing JavaScript given by the user.',
  'JsonException It occurs when you afford to get the session when the session is not created.',
  'NoSuchAttributeException This kind of Exception occurs when the attribute of an element could not be found.',
  'MoveTargetOutOfBoundsException It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
  'NoSuchContextException ContextAware does mobile device testing.',
  'NoSuchCookieException This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
  'NotFoundException This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
  'RemoteDriverServerException This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
  'ScreenshotException It is not possible to capture a screen.',
  'SessionNotCreatedException It happens when a new session could not be successfully created.',
  'UnableToSetCookieException This occurs if a driver is unable to set a cookie.',
  'UnexpectedTagNameException Happens if a support class did not get a web element as expected.',
  'UnhandledAlertException This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
  'UnexpectedAlertPresentException It occurs when there is the appearance of an unexpected alert.',
  'UnknownMethodException This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
  'UnreachableBrowserException This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
  'UnsupportedCommandException This occurs when remote WebDriver does n’t send valid commands as expected.']]

In [24]:
data=[]
j=0

In [25]:
while j < 41:
    for i in descr:
        data.append(i[j].split(" ",1))
    j=j+1

In [28]:
len(data)

41

In [37]:
data1=[]

In [38]:
for k in data:
        data1.append(k[1])

In [61]:
len(data1)

41

In [62]:
len(head)

41

### Creating final dataset

In [63]:
guru99 = pd.DataFrame({'Exception name' :head,'Description':data1})

In [64]:
guru99

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,WebDriverException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Question 4

In [71]:
url='http://statisticstimes.com/'
driver.get(url)

In [78]:
search_btn= driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
search_btn.click()

In [79]:
search_btn= driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
search_btn.click()

In [80]:
search_btn= driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search_btn.click()

### Extracting State name

In [81]:
place = driver.find_elements_by_xpath('//td[@class="name"]')
len(place)

68

In [82]:
state_titles = []
for t in place:
    state_titles.append(t.text)

In [84]:
len(state_titles)

68

### Extracting GSDP

In [85]:
gsdp = driver.find_elements_by_xpath('//td[@class="data"]')
len(gsdp)

308

In [96]:
gspd_titles = []
for br in gsdp:
    gspd_titles.append(br.text)

In [97]:
gspd_title=gspd_titles[::5]

In [98]:
len(gspd_title)

62

### Extracting Share

In [103]:
share= gspd_titles[1::5]

### Extracting GDP ($billion)

In [105]:
gdp= gspd_titles[2::5]

### Creating Final Dataset

In [108]:
state_titles[:33]

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [111]:
statistic = pd.DataFrame({'Rank':range(1,34),'State name' :state_titles[:33],'GSDP':gspd_title[:33],'Share':share[:33],'GDP': gdp[:33] })

In [112]:
statistic

    Rank                 State name       GSDP   Share      GDP
0      1                Maharashtra          -  13.94%  399.921
1      2                 Tamil Nadu  1,845,853   8.63%  247.629
2      3              Uttar Pradesh  1,687,818   8.39%  240.726
3      4                    Gujarat          -   7.96%  228.290
4      5                  Karnataka  1,631,977   7.91%  226.806
5      6                West Bengal  1,253,832   5.77%  165.556
6      7                  Rajasthan  1,020,989   4.99%  143.179
7      8             Andhra Pradesh    972,782   4.57%  131.083
8      9                  Telangana    969,604   4.56%  130.791
9     10             Madhya Pradesh    906,672   4.29%  122.977
10    11                     Kerala          -   4.14%  118.733
11    12                      Delhi    856,112   4.10%  117.703
12    13                    Haryana    831,610   3.89%  111.519
13    14                      Bihar    611,804   2.81%   80.562
14    15                     Punjab    574,760   2.79%   79.957
15    16                     Odisha    521,275   2.58%   74.098
16    17                      Assam          -   1.67%   47.982
17    18               Chhattisgarh    329,180   1.61%   46.187
18    19                  Jharkhand    328,598   1.57%   45.145
19    20                Uttarakhand          -   1.30%   37.351
20    21            Jammu & Kashmir          -   0.83%   23.690
21    22           Himachal Pradesh    165,472   0.81%   23.369
22    23                        Goa     80,449   0.39%   11.115
23    24                    Tripura     55,984   0.26%    7.571
24    25                 Chandigarh          -   0.22%    6.397
25    26                 Puducherry     38,253   0.18%    5.230
26    27                  Meghalaya     36,572   0.18%    5.086
27    28                     Sikkim     32,496   0.15%    4.363
28    29                    Manipur     31,790   0.15%    4.233
29    30                   Nagaland          -   0.14%    4.144
30    31          Arunachal Pradesh          -   0.13%    3.737
31    32                    Mizoram     26,503   0.12%    3.385
32    33  Andaman & Nicobar Islands          -       -        -

# Question 5

In [114]:
url='https://github.com/'
driver.get(url)

In [143]:
search_btn= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
search_btn.click()

In [144]:
search_btn= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
search_btn.click()

### Extracting Repository title

In [145]:
title = driver.find_elements_by_xpath('//span[@class="text-normal"]')
len(title)

25

In [146]:
rep_titles = []
for t in title:
    rep_titles.append(t.text)

In [147]:
rep_titles

['CodeEditApp /',
 'Dreamacro /',
 'microsoft /',
 'ToolJet /',
 'lapce /',
 'kabinspace /',
 'bitcoin /',
 'PowerShell /',
 'BeyondDimension /',
 'aptos-labs /',
 'DingXiaoH /',
 'remix-run /',
 'PKUFlyingPig /',
 'dair-ai /',
 'remix-run /',
 'openmlsys /',
 'Unknow101 /',
 'Alvin9999 /',
 'pedroslopez /',
 'ppy /',
 '2dust /',
 'theOehrly /',
 'nocodb /',
 'datawhalechina /',
 'Budibase /']

### Extracting description

In [151]:
desc = driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
len(desc)

24

In [153]:
describe = []
for d in desc:
    describe.append(d.text)

In [162]:
describe

['CodeEdit App for macOS – Elevate your code editing experience. Open source, free forever.',
 'A rule-based tunnel in Go.',
 'Tool to scan for RouterOS (Mikrotik) forensic artifacts and vulnerabilities.',
 'Extensible low-code framework for building business applications. Connect to databases, cloud storages, GraphQL, API endpoints, Airtable, etc and build apps using drag and drop application builder. Built using JavaScript/TypeScript. 🚀',
 'Lightning-fast and Powerful Code Editor written in Rust',
 'AstroVim is an aesthetic and feature-rich neovim config that is extensible and easy to use with a great set of plugins',
 'Bitcoin Core integration/staging tree',
 'PowerShell for every system!',
 '🛠「Steam++」是一个开源跨平台的多功能Steam工具箱。',
 'A layer 1 for everyone!',
 'The Remix Stack for deploying to AWS with DynamoDB, authentication, testing, linting, formatting, etc.',
 '计算机自学指南',
 '🎓 Sharing course notes on all topics related to machine learning, NLP, and AI',
 'The Remix Stack for deploying to Fly with PostgreSQL, authentication, testing, linting, formatting, etc.',
 '《Machine Learning Systems: Design and Implementation》- Chinese Version',
 'A simple python packer to easily bypass Windows Defender',
 '翻墙-科学上网、免费翻墙、免费科学上网、免费自由上网、fanqiang、翻墙梯子、免费软件/方法，一键翻墙浏览器，免费shadowsocks/ss/ssr/v2ray/goflyway账号/节点分享，vps一键搭建翻墙服务器脚本/教程，电脑、手机、iOS、安卓、windows、Mac、Linux、路由器翻墙',
 'A WhatsApp client library for NodeJS that connects through the WhatsApp Web browser app',
 'rhythm is just a *click* away!',
 'A V2Ray client for Windows, support Xray core and v2fly core',
 'FastF1 is a python package for accessing and analyzing Formula 1 results, schedules, timing data and telemetry',
 '🔥 🔥 🔥 Open Source Airtable Alternative',
 '强化学习中文教程（蘑菇书），在线阅读地址：https://datawhalechina.github.io/easy-rl/',
 'Budibase is an open-source low-code platform for creating internal apps in minutes. Supports PostgreSQL, MySQL, MSSQL, MongoDB, Rest API, Docker, K8s 🚀']

### Extracting contribution

In [155]:
con = driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]')
len(desc)

24

In [156]:
contri = []
for d in con:
    contri.append(d.text)

In [160]:
contri=contri[1::2]

In [161]:
len(contri)

25

### Extracting Language

In [163]:
lan = driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')
len(lan)

22

In [164]:
lang = []
for d in lan:
    lang.append(d.text)

In [165]:
lang

['Swift',
 'Go',
 'Python',
 'JavaScript',
 'Rust',
 'Lua',
 'C++',
 'C#',
 'C#',
 'Rust',
 'Python',
 'TypeScript',
 'TypeScript',
 'TeX',
 'Python',
 'JavaScript',
 'C#',
 'C#',
 'Python',
 'Vue',
 'Jupyter Notebook',
 'JavaScript']

### Creating the Final Dataset

In [166]:
git = pd.DataFrame({'Titles' :rep_titles[:10],'Description':describe[:10],'Contribution':contri[:10],'Language': lang[:10] })

In [167]:
git

,Titles,Description,Contribution,Language
0,CodeEditApp /,CodeEdit App for macOS – Elevate your code edi...,77,Swift
1,Dreamacro /,A rule-based tunnel in Go.,"3,563",Go
2,microsoft /,Tool to scan for RouterOS (Mikrotik) forensic ...,57,Python
3,ToolJet /,Extensible low-code framework for building bus...,557,JavaScript
4,lapce /,Lightning-fast and Powerful Code Editor writte...,188,Rust
5,kabinspace /,AstroVim is an aesthetic and feature-rich neov...,107,Lua
6,bitcoin /,Bitcoin Core integration/staging tree,"31,850",C++
7,PowerShell /,PowerShell for every system!,"5,344",C#
8,BeyondDimension /,🛠「Steam++」是一个开源跨平台的多功能Steam工具箱。,387,C#
9,aptos-labs /,A layer 1 for everyone!,58,Rust

# Question 6

In [4]:
url = 'http://www.billboard.com/'
driver.get(url)

In [5]:

search_btn= driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
search_btn.click()

In [7]:
search_btn= driver.find_element_by_xpath('//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[3]')
search_btn.click()

### Extracting data

In [8]:
lan = driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
len(lan)

100

In [12]:
lang = []
for d in lan:
    lang.append(d.text.splitlines())

### Extracting Song name

In [26]:
i=0
song=[]

In [27]:
while i < 100:
    song.append(lang[i][0])
    i=i+1

In [28]:
len(song)

100

In [38]:
lang[5][-3]

'6'

### Extracting Artist name

In [32]:
i=0
artist=[]

In [33]:
while i < 100:
    artist.append(lang[i][1])
    i=i+1

In [35]:
len(artist)

100

### Extracting last week rank

In [36]:
i=0
lst=[]

In [39]:
while i < 100:
    lst.append(lang[i][-3])
    i=i+1

In [41]:
len(lst)

100

### Extracting Peak rank

In [42]:
i=0
peak=[]

In [43]:
while i < 100:
    peak.append(lang[i][-2])
    i=i+1

In [45]:
len(peak)

100

### Extracting Weeks on board

In [46]:
i=0
week=[]

In [47]:
while i < 100:
    week.append(lang[i][-1])
    i=i+1

In [49]:
len(week)

100

### Creating Final Dataset

In [50]:
billboard = pd.DataFrame({'Song' :song,'Artist':artist,'Last week Rank':lst,'Peak Rank': peak,'Weeks on Board':week })

In [51]:
billboard

,Song,Artist,Last week Rank,Peak Rank,Weeks on Board
0,Heat Waves,Glass Animals,1,1,60
1,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",2,1,11
2,Super Gremlin,Kodak Black,4,3,18
3,abcdefu,GAYLE,3,3,16
4,Stay,The Kid LAROI & Justin Bieber,5,1,35
...,...,...,...,...,...
95,Evil Twins,King Von & Lil Durk,-,96,1
96,Trust Nothing,King Von Featuring Moneybagg Yo,-,97,1
97,Iffy,Chris Brown,92,71,8
98,Closer,Saweetie Featuring H.E.R.,98,89,4
99,When I'm Gone,Alesso / Katy Perry,91,90,4

# Question 7

In [64]:
url = 'https://www.naukri.com/'
driver.get(url)

In [70]:
search_item= driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div[1]/div[1]/div/div/div/input')
search_item

In [71]:
# write on search bar
search_item.send_keys(" Data scientist")

In [72]:
# Search button click
search_btn8= driver.find_element_by_xpath('//div[@class="qsbSubmit"]')
search_btn8

In [74]:
search_btn8.click()

In [161]:
lan = driver.find_elements_by_xpath('//article[@class="jobTuple bgWhite br4 mb-8"]')
len(lan)

20

### Extracting Data

In [162]:
n = []
for d in lan:
    n.append(d.text.splitlines())

In [163]:
len(n)

20

### Extracting name

In [164]:
i=0
name=[]
leng= len(n)

In [165]:
while i < leng:
    name.append(n[i][0])
    i=i+1

In [166]:
len(name)

20

### Extracting designation

In [158]:
lan1 = driver.find_elements_by_xpath('//ul[@class="mt-7"]')
len(lan1)

20

In [159]:
desg= []
for d in lan1:
    desg.append(d.text.splitlines()[0])

In [160]:
desg

['10-20 Yrs',
 '4-9 Yrs',
 '0-0 Yrs',
 '0-5 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '6-12 Yrs',
 '6-11 Yrs',
 '6-8 Yrs',
 '4-9 Yrs',
 '0-5 Yrs',
 '8-13 Yrs',
 '3-6 Yrs',
 '8-12 Yrs',
 '4-9 Yrs',
 '1-6 Yrs',
 '6-10 Yrs',
 '2-7 Yrs',
 '10-15 Yrs',
 '1-6 Yrs']

### Extracting Company

In [167]:
i=0
comp=[]

In [169]:
while i < leng:
    comp.append(n[i][1])
    i=i+1

In [171]:
len(comp)

20

### Extracting Location

In [174]:
loc= []
for d in lan1:
    loc.append(d.text.splitlines()[2])

In [176]:
len(loc)

20

### Extracting Skills

In [177]:
lan2 = driver.find_elements_by_xpath('//ul[@class="tags has-description"]')
len(lan2)

20

In [180]:
skill= []
for d in lan2:
    skill.append(d.text.splitlines())

In [183]:
len(skill)

20

### Creating Final Dataset

In [184]:
naukri = pd.DataFrame({'Name' :name,'Designation':desg,'Company':comp,'Location': loc,'Skills':skill })

In [185]:
naukri

,Name,Designation,Company,Location,Skills
0,HCL Tech Opening - Lead Data Scientist,10-20 Yrs,HCL,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...","[IT Skills, Python, Data Science, Azure, arima..."
1,Data Scientist / Sr. Data Engineer,4-9 Yrs,Convergence Infotech Ltd,Bangalore/Bengaluru(Sadashiva Nagar),"[Tensorflow, Scipy, ALGORITHM, SVM, Machine Le..."
2,"Excellent Opportunity For Freshers For AI/ML, ...",0-0 Yrs,NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...","[artificial intelligence, Python, SQL, IT Skil..."
3,Senior Data Scientist,0-5 Yrs,Walmart Global Tech India,Other,[NA]
4,Senior or Lead Data Scientist,5-10 Yrs,Cyient,Hyderabad/Secunderabad,"[IT Skills, Python, Azure, sql queries, data a..."
5,Looking For Senior / Lead Data Scientist with ...,5-10 Yrs,Cyient,Hyderabad/Secunderabad,"[Azure Data Factory, AzureML, Data Scientist, ..."
6,Sr Data Scientist,6-12 Yrs,Uber,Bangalore/Bengaluru,"[Computer science, Interpersonal skills, Proje..."
7,Data Scientist III,6-11 Yrs,Groupon,Bangalore/Bengaluru,"[Hadoop, Hive, Snowflake, BPO, travel, data an..."
8,Sr . Data Scientist,6-8 Yrs,Visa,Bangalore/Bengaluru,"[Unix, Computer science, Version control, SAS,..."
9,Assistant Manager/Manager/Senior Manager - Dat...,4-9 Yrs,Huquo Consulting Pvt. Ltd,"Delhi / NCR, Bangalore/Bengaluru","[R, SAS, Python, Spark NLP, Machine Learning, ..."
10,Staff Data Scientist,0-5 Yrs,Walmart Global Tech India,Other,[NA]
11,Need Data scientists and data engineers - WFH-...,8-13 Yrs,Covalense Technologies Private Limited,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...","[scientist, data engineering, Python]"
12,Lead - Data Scientist / Analytics,3-6 Yrs,Sutherland Global Services Inc,Hyderabad/Secunderabad,"[IT Skills, Python, Testing, Machine Learning,..."
13,Principal Data Scientist,8-12 Yrs,Mobile Premier League,Bangalore/Bengaluru,"[Computer science, Data analysis, data science..."
14,Data Scientist,4-9 Yrs,Shell,Bangalore/Bengaluru,"[non-linear programming, DevOps, GIT, Hypothes..."
15,Data Scientist,1-6 Yrs,HDFC Bank,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...","[analytics, python, r, credit risk, predictive..."
16,Data Scientist - Machine Learning,6-10 Yrs,Corner Tree Consulting,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","[IT Skills, Python, Data Science, Machine Lear..."
17,Associate Data Scientist,2-7 Yrs,Shell,Chennai,"[Functional Analytics, machine learning, Decis..."
18,Lead- Data Scientist FMCG/ Retail Analytics,10-15 Yrs,Vertex Corporate Services,Pune,"[Retail Analytics, Text Mining, machine learni..."
19,Data Scientist/ Data Analyst- Permanent Remote...,1-6 Yrs,Lending Tree Research Services LLP,Remote,"[analytics, R, data insight, data analysis, Ex..."

# Question 8

In [186]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

### Extracting title

In [223]:
a3= '//td[@id="table-cell-10943-0-1"]'
it = 1
total_len= 0
head =[]

In [224]:
while total_len < 9:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            head.append(btt6.text)
        a3 =a3[:-5] + str(it) +'-1"]'
        
        total_len+=1 
        it+=1
a3= '//td[@id="table-cell-10943-11-1"]'
while total_len < 100:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            head.append(btt6.text)
        a3 =a3[:-6] + str(it) +'-1"]'
        total_len+=1 
        it+=1

In [225]:
len(head)

100

### Extracting Author

In [226]:
a3= '//td[@id="table-cell-10943-0-2"]'
it = 1
total_len= 0
aut =[]

In [227]:
while total_len < 9:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            aut.append(btt6.text)
        a3 =a3[:-5] + str(it) +'-2"]'
        
        total_len+=1 
        it+=1
a3= '//td[@id="table-cell-10943-11-2"]'
while total_len < 100:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            aut.append(btt6.text)
        a3 =a3[:-6] + str(it) +'-2"]'
        total_len+=1 
        it+=1

In [231]:
len(aut)

100

### Extracting Volume sold

In [239]:
a3= '//td[@id="table-cell-10943-0-3"]'
it = 1
total_len= 0
vol =[]

In [240]:
while total_len < 9:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            vol.append(btt6.text)
        a3 =a3[:-5] + str(it) +'-3"]'
        
        total_len+=1 
        it+=1
a3= '//td[@id="table-cell-10943-11-3"]'
while total_len < 100:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            vol.append(btt6.text)
        a3 =a3[:-6] + str(it) +'-3"]'
        total_len+=1 
        it+=1

In [241]:
len(vol)

100

### Extracting Publisher

In [242]:
a3= '//td[@id="table-cell-10943-0-4"]'
it = 1
total_len= 0
pub =[]

In [243]:
while total_len < 9:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            pub.append(btt6.text)
        a3 =a3[:-5] + str(it) +'-4"]'
        
        total_len+=1 
        it+=1
a3= '//td[@id="table-cell-10943-11-4"]'
while total_len < 100:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            pub.append(btt6.text)
        a3 =a3[:-6] + str(it) +'-4"]'
        total_len+=1 
        it+=1

In [245]:
len(pub)

100

### Extracting Genre

In [249]:
a3= '//td[@id="table-cell-10943-0-5"]'
it = 1
total_len= 0
gen =[]

In [250]:
while total_len < 9:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            gen.append(btt6.text)
        a3 =a3[:-5] + str(it) +'-5"]'
        
        total_len+=1 
        it+=1
a3= '//td[@id="table-cell-10943-11-5"]'
while total_len < 100:
        nxt_btn= driver.find_elements_by_xpath(a3)
        for btt6 in nxt_btn:
            gen.append(btt6.text)
        a3 =a3[:-6] + str(it) +'-5"]'
        total_len+=1 
        it+=1

In [252]:
len(gen)

100

### Creating Final Dataset

In [253]:
guardian = pd.DataFrame({'Book Name' :head,'Author Name':aut,'Volume Sold':vol,'Publisher': pub,'Genre':gen })

In [254]:
guardian

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 9

In [255]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [256]:
lan = driver.find_elements_by_xpath('//div[@class="lister-item-content"]')
len(lan)

100

### Extracting Data

In [257]:
n = []
for d in lan:
    n.append(d.text.splitlines())

In [273]:
n[0][0][2:-12]

' Game of Thrones'

### Extracting Movie Name

In [291]:
i=0
name=[]
leng= len(n)

In [292]:
while i < leng:
    name.append(n[i][0][3:-12])
    i=i+1

In [293]:
len(name)

100

### Extracting Year Span

In [299]:
year=[]

In [300]:
lan = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
len(lan)

100

In [301]:
for d in lan:
    year.append(d.text)

In [303]:
len(year)

100

### Extracting Genre

In [304]:
gen=[]

In [305]:
lan = driver.find_elements_by_xpath('//span[@class="genre"]')
len(lan)

100

In [306]:
for d in lan:
    gen.append(d.text)

In [308]:
len(gen)

100

### Extracting Run time

In [309]:
run=[]

In [310]:
lan = driver.find_elements_by_xpath('//span[@class="runtime"]')
len(lan)

100

In [311]:
for d in lan:
    run.append(d.text)

In [313]:
len(run)

100

In [318]:
n[99][2]

'8.6'

### Extracting Rating

In [319]:
i=0
rate=[]
leng= len(n)

In [320]:
while i < leng:
    rate.append(n[i][2])
    i=i+1

In [322]:
len(rate)

100

### Extracting Upvote

In [332]:
n[1][-3][7:]

'young boy disappears, his mother, a police chief and his friends must confront terrifying supernatural forces in order to get him back.'

In [351]:
i=1
vote=[]
leng= len(n)

In [352]:
vote.append(n[0][-3][6:])
while i < leng:
    vote.append(n[i][-1][6:])
    i=i+1

In [353]:
len(vote)

100

### Creating Final Dataset

In [356]:
imdb = pd.DataFrame({'Movie Name' :name,'Year Span':year,'Genre':gen,'Run Time': run,'Rating':rate,'Upvote':vote })

In [357]:
imdb

,Movie Name,Year Span,Genre,Run Time,Rating,Upvote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,966,074"
1,Stranger Thi,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"973,571"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.3,"936,624"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"280,179"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.7,"240,268"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.6,"48,069"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,770"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.2,"186,935"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,634"
99,. The Haunting of Hill,(2018),"Drama, Horror, Mystery",572 min,8.6,"223,598"

# Question 10

In [469]:
url ='https://archive.ics.uci.edu/'
driver.get(url)

In [470]:
cl = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
cl.click()

In [471]:
current_url=driver.current_url

In [472]:
page = requests.get(current_url)

In [473]:
soup = BeautifulSoup(page.content)
soup

<!DOCTYPE HTML>
<html><body><p>"-//W3C//DTD HTML 4.01 Transitional//EN\"&gt;

</p>
<title>UCI Machine Learning Repository: Data Sets</title>
<!-- Stylesheet link -->
<link href="assets/ml.css" rel="stylesheet" type="text/css"/>
<script language="JavaScript" type="text/javascript">
<!--
function checkform ( form )
{
  // see http://www.thesitewizard.com/archive/validation.shtml
  // for an explanation of this script and how to use it on your
  // own website

  // ** START **
  if (form.q.value == "")
  {
    alert( "Please enter search terms." );
    form.q.focus();
    return false ;
  }

  if (getCheckedValue(form.sitesearch) == "ics.uci.edu" && form.q.value.indexOf("site:archive.ics.uci.edu/ml") == -1)
  {
    form.q.value = form.q.value + " site:archive.ics.uci.edu/ml";
  }

  // ** END **
  return true ;
}

// return the value of the radio button that is checked
// return an empty string if none are checked, or
// there are no radio buttons
function getCheckedValue(radioObj) {
	if(!radioObj)
		return "";
	var radioLength = radioObj.length;
	if(radioLength == undefined)
		if(radioObj.checked)
			return radioObj.value;
		else
			return "";
	for(var i = 0; i < radioLength; i++) {
		if(radioObj[i].checked) {
			return radioObj[i].value;
		}
	}
	return "";
}





//-->
</script>
<!-- SITE HEADER (INCLUDES LOGO AND SEARCH BOX) -->
<!-- SITE HEADER (INCLUDES LOGO AND SEARCH BOX) -->
<table bgcolor="#003366" width="100%">
<tr>
<td>
<span class="normal"><a alt="Home" href="index.html"><img border="0" src="assets/logo.gif"/></a><br/>         <a href="http://cml.ics.uci.edu"><font color="FFDD33">Center for Machine Learning and Intelligent Systems</font></a></span>
</td>
<td align="right" valign="top" width="100%">
<span class="whitetext">
<a href="about.html">About</a>
		<a href="citation_policy.html">Citation Policy</a>
		<a href="donation_policy.html">Donate a Data Set</a>
		<a href="contact.html">Contact</a>
</span>
<br/>
<br/>
<!-- Search Google -->
<form action="https://www.google.com/custom" method="GET" onsubmit="return checkform(this);">
<input maxlength="255" name="q" size="30" type="text" value=""/>
<input name="sa" type="submit" value="Search"/>
<input name="cof" type="hidden" value="AH:center;LH:130;L:http://archive.ics.uci.edu/assets/logo.gif;LW:384;AWFID:869c0b2eaa8d518e;"/>
<input name="domains" type="hidden" value="ics.uci.edu"/>
<br/>
<input checked="" name="sitesearch" type="radio" value="ics.uci.edu"/> <span class="whitetext"><font size="1">Repository</font></span>
<input name="sitesearch" type="radio" value=""/> <span class="whitetext"><font size="1">Web</font></span>

		<a href="https://www.google.com/search"><img align="middle" alt="Google" border="0" height="27" src="https://www.google.com/logos/Logo_25blk.gif"/></a>
<br/>
</form>
<!-- Search Google -->
<span class="whitetext"><a href="datasets.php"><font color="#FFDD33" size="3"><b>View ALL Data Sets</b></font></a></span>
<br/>
</td>
</tr>
</table>
<br/>
<div style="background-color:#6E4100; color:white; padding:20px; margin-bottom:8px">
<span onclick="this.parentElement.style.display='none';" style="float:right; cursor:pointer; margin-left: 8px; font-size:x-large; line-height:16px"><strong>×</strong></span>
	  Check out the <a href="https://archive-beta.ics.uci.edu/" style="color:white" target="_blank">beta version</a> of the new UCI Machine Learning Repository we are currently testing! <a href="https://archive-beta.ics.uci.edu/ml/contact" style="color:white" target="_blank">Contact us</a> if you have any issues, questions, or concerns. <a href="https://archive-beta.ics.uci.edu/" style="color:white" target="_blank">Click here to try out the new site</a>.
</div>
<table cellpadding="3">
<tr>
<td valign="top">
<table><tr><td><p align="center" class="big">Browse Through:</p></td></tr></table>
<table border="2" cellpadding="2" width="150">
<tr> <td bgcolor="#003366"><p class="whitetext"><b>Default Task</b> </p>
</td>
</tr>
<tr>
<td valign="top"><p class="normal"><a href="datasets.php?format=&amp;task=cla&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Classification</a> <font color="red">(466)</font><br/><a href="datasets.php?format=&amp;task=reg&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Regression</a> <font color="red">(151)</font><br/><a href="datasets.php?format=&amp;task=clu&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Clustering</a> <font color="red">(121)</font><br/><a href="datasets.php?format=&amp;task=other&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Other</a> <font color="red">(56)</font> </p>
</td>
</tr>
<tr> <td bgcolor="#003366"><p class="whitetext"><b>Attribute Type</b> </p>
</td>
</tr>
<tr>
<td valign="top"><p class="normal"><a href="datasets.php?format=&amp;task=&amp;att=cat&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Categorical</a> <font color="red">(38)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=num&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Numerical</a> <font color="red">(422)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=mix&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Mixed</a> <font color="red">(55)</font> </p>
</td>
</tr>
<tr> <td bgcolor="#003366"><p class="whitetext"><b>Data Type</b> </p>
</td>
</tr>
<tr>
<td valign="top"><p class="normal"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=mvar&amp;sort=nameUp&amp;view=table">Multivariate</a> <font color="red">(480)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=uvar&amp;sort=nameUp&amp;view=table">Univariate</a> <font color="red">(30)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=seq&amp;sort=nameUp&amp;view=table">Sequential</a> <font color="red">(59)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=ts&amp;sort=nameUp&amp;view=table">Time-Series</a> <font color="red">(126)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=text&amp;sort=nameUp&amp;view=table">Text</a> <font color="red">(69)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=dt&amp;sort=nameUp&amp;view=table">Domain-Theory</a> <font color="red">(23)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=other&amp;sort=nameUp&amp;view=table">Other</a> <font color="red">(21)</font><br/> </p>
</td>
</tr>
<tr><td bgcolor="#003366"><p class="whitetext"><b>Area</b> </p>
</td>
</tr>
<tr>
<td valign="top"><p class="normal"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=life&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Life Sciences</a> <font color="red">(147)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=phys&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Physical Sciences</a> <font color="red">(57)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=comp&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">CS / Engineering</a> <font color="red">(234)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=soc&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Social Sciences</a> <font color="red">(41)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=bus&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Business</a> <font color="red">(45)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=game&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Game</a> <font color="red">(12)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=other&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Other</a> <font color="red">(81)</font> </p>
</td>
</tr>
<tr><td bgcolor="#003366"><p class="whitetext"><b># Attributes</b> </p>
</td>
</tr>
<tr>
<td valign="top"><p class="normal"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=less10&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Less than 10</a> <font color="red">(166)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=10to100&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">10 to 100</a> <font color="red">(279)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=greater100&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Greater than 100</a> <font color="red">(110)</font> </p>
</td>
</tr>
<tr><td bgcolor="#003366"><p class="whitetext"><b># Instances</b></p></td>
</tr>
<tr>
<td valign="top"><p class="normal">
<a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=less100&amp;type=&amp;sort=nameUp&amp;view=table">Less than 100</a> <font color="red">(38)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=100to1000&amp;type=&amp;sort=nameUp&amp;view=table">100 to 1000</a> <font color="red">(210)</font><br/><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=greater1000&amp;type=&amp;sort=nameUp&amp;view=table">Greater than 1000</a> <font color="red">(339)</font> </p>
</td>
</tr>
<tr><td bgcolor="#003366"><p class="whitetext"><b>Format Type</b> </p>
</td>
</tr>
<tr>
<td valign="top"><p class="normal"><a href="datasets.php?format=mat&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Matrix</a> <font color="red">(439)</font><br/><a href="datasets.php?format=nonmat&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=table">Non-Matrix</a> <font color="red">(183)</font> </p>
</td>
</tr></table>
</td>
<td valign="top">
<table width="100%">
<tr>
<td><p class="big"><b>622</b> Data Sets</p></td>
<td align="right"><p class="normal"><font color="gray">Table View</font>  <a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameUp&amp;view=list">List View</a></p></td>
</tr>
</table><table border="1" cellpadding="5"><tr bgcolor="#003366">
<td class="normal, whitetext"><p class="normal, whitetext"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=nameDown&amp;view=table"><b>Name</b></a></p></td>
<!-- <td><p class="normal, whitetext"><b>Abstract</b></p></td> -->
<td><p class="normal, whitetext"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=typeUp&amp;view=table"><b>Data Types</b></a></p></td>
<td><p class="normal, whitetext"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=taskUp&amp;view=table"><b>Default Task</b></a></p></td>
<td><p class="normal, whitetext"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=attTypeUp&amp;view=table"><b>Attribute Types</b></a></p></td>
<td><p class="normal, whitetext"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=instUp&amp;view=table"><b># Instances</b></a></p></td>
<td><p class="normal, whitetext"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=attUp&amp;view=table"><b># Attributes</b></a></p></td>
<td><p class="normal, whitetext"><a href="datasets.php?format=&amp;task=&amp;att=&amp;area=&amp;numAtt=&amp;numIns=&amp;type=&amp;sort=dateUp&amp;view=table"><b>Year</b></a></p></td>
<!-- <td><p class="normal, whitetext"><b>Area</b></p></td> -->
</tr><tr>
<td><table><tr><td><a href="datasets/Abalone"><img border="1" src="assets/MLimages/SmallLarge1.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Abalone">Abalone</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Predict the age of abalone from physical measurements&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal">Categorical, Integer, Real </p></td>
<td><p class="normal">4177 </p></td>
<td><p class="normal">8 </p></td>
<td><p class="normal">1995 </p></td>
<!-- <td><p class="normal">Life&nbsp;</p></td> -->
</tr><tr bgcolor="DDEEFF">
<td><table><tr><td><a href="datasets/Adult"><img border="1" src="assets/MLimages/SmallLarge2.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Adult">Adult</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Predict whether income exceeds $50K/yr based on census data.  Also known as "Census Income" dataset.&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal">Categorical, Integer </p></td>
<td><p class="normal">48842 </p></td>
<td><p class="normal">14 </p></td>
<td><p class="normal">1996 </p></td>
<!-- <td><p class="normal">Social&nbsp;</p></td> -->
</tr><tr>
<td><table><tr><td><a href="datasets/Annealing"><img border="1" src="assets/MLimages/SmallLargedefault.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Annealing">Annealing</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Steel annealing data&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal">Categorical, Integer, Real </p></td>
<td><p class="normal">798 </p></td>
<td><p class="normal">38 </p></td>
<td><p class="normal"> </p></td>
<!-- <td><p class="normal">Physical&nbsp;</p></td> -->
</tr><tr bgcolor="DDEEFF">
<td><table><tr><td><a href="datasets/Anonymous+Microsoft+Web+Data"><img border="1" src="assets/MLimages/SmallLargedefault.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Anonymous+Microsoft+Web+Data">Anonymous Microsoft Web Data</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Log of anonymous users of www.microsoft.com; predict areas of the web site a user visited based on data on other areas the user visited.&nbsp;</p></td> -->
<td><p class="normal"> </p></td>
<td><p class="normal">Recommender-Systems </p></td>
<td><p class="normal">Categorical </p></td>
<td><p class="normal">37711 </p></td>
<td><p class="normal">294 </p></td>
<td><p class="normal">1998 </p></td>
<!-- <td><p class="normal">Computer&nbsp;</p></td> -->
</tr><tr>
<td><table><tr><td><a href="datasets/Arrhythmia"><img border="1" src="assets/MLimages/SmallLarge5.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Arrhythmia">Arrhythmia</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Distinguish between the presence and absence of cardiac arrhythmia and classify it in one of the 16 groups.&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal">Categorical, Integer, Real </p></td>
<td><p class="normal">452 </p></td>
<td><p class="normal">279 </p></td>
<td><p class="normal">1998 </p></td>
<!-- <td><p class="normal">Life&nbsp;</p></td> -->
</tr><tr bgcolor="DDEEFF">
<td><table><tr><td><a href="datasets/Artificial+Characters"><img border="1" src="assets/MLimages/SmallLarge6.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Artificial+Characters">Artificial Characters</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Dataset artificially generated by using first order theory which describes structure of ten capital letters of English alphabet&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal">Categorical, Integer, Real </p></td>
<td><p class="normal">6000 </p></td>
<td><p class="normal">7 </p></td>
<td><p class="normal">1992 </p></td>
<!-- <td><p class="normal">Computer&nbsp;</p></td> -->
</tr><tr>
<td><table><tr><td><a href="datasets/Audiology+%28Original%29"><img border="1" src="assets/MLimages/SmallLarge7.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Audiology+%28Original%29">Audiology (Original)</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Nominal audiology dataset from Baylor&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal">Categorical </p></td>
<td><p class="normal">226 </p></td>
<td><p class="normal"> </p></td>
<td><p class="normal">1987 </p></td>
<!-- <td><p class="normal">Life&nbsp;</p></td> -->
</tr><tr bgcolor="DDEEFF">
<td><table><tr><td><a href="datasets/Audiology+%28Standardized%29"><img border="1" src="assets/MLimages/SmallLarge7.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Audiology+%28Standardized%29">Audiology (Standardized)</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Standardized version of the original audiology database&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal">Categorical </p></td>
<td><p class="normal">226 </p></td>
<td><p class="normal">69 </p></td>
<td><p class="normal">1992 </p></td>
<!-- <td><p class="normal">Life&nbsp;</p></td> -->
</tr><tr>
<td><table><tr><td><a href="datasets/Auto+MPG"><img border="1" src="assets/MLimages/SmallLarge9.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Auto+MPG">Auto MPG</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Revised from CMU StatLib library, data concerns city-cycle fuel consumption&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Regression </p></td>
<td><p class="normal">Categorical, Real </p></td>
<td><p class="normal">398 </p></td>
<td><p class="normal">8 </p></td>
<td><p class="normal">1993 </p></td>
<!-- <td><p class="normal">Other&nbsp;</p></td> -->
</tr><tr bgcolor="DDEEFF">
<td><table><tr><td><a href="datasets/Automobile"><img border="1" src="assets/MLimages/SmallLarge10.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Automobile">Automobile</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">From 1985 Ward's Automotive Yearbook&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Regression </p></td>
<td><p class="normal">Categorical, Integer, Real </p></td>
<td><p class="normal">205 </p></td>
<td><p class="normal">26 </p></td>
<td><p class="normal">1987 </p></td>
<!-- <td><p class="normal">Other&nbsp;</p></td> -->
</tr><tr>
<td><table><tr><td><a href="datasets/Badges"><img border="1" src="assets/MLimages/SmallLargedefault.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Badges">Badges</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Badges labeled with a "+" or "-" as a function of a person's name&nbsp;</p></td> -->
<td><p class="normal">Univariate, Text </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal"> </p></td>
<td><p class="normal">294 </p></td>
<td><p class="normal">1 </p></td>
<td><p class="normal">1994 </p></td>
<!-- <td><p class="normal">Other&nbsp;</p></td> -->
</tr><tr bgcolor="DDEEFF">
<td><table><tr><td><a href="datasets/Balance+Scale"><img border="1" src="assets/MLimages/SmallLarge12.jpg"/></a> </td><td><p class="normal"><b><a href="datasets/Balance+Scale">Balance Scale</a></b></p></td></tr></table></td>
<!-- <td><p class="normal">Balance scale weight & distance database&nbsp;</p></td> -->
<td><p class="normal">Multivariate </p></td>
<td><p class="normal">Classification </p></td>
<td><p class="normal">Categorical </p></td>
<td><p class="normal">625 </p></td>
<td><p class="normal">4 </p></td>
<td><p class="normal">1994 </p></td>
<!-- <td><p class="normal">Social&nbsp;</p></td> -->
</tr><tr>

In [474]:
title =[]
for i in soup.find_all('p',class_="normal"):
    title.append(i.text.splitlines())

### Extracting  Dataset Name

In [475]:
len(title)
na=[]
i=8

In [476]:
while i < len(title):
    na.append(title[i])
    i=i+7

In [477]:
len(na)

186

### Extracting Data type

In [478]:
dt=[]
i=9

In [479]:
while i < len(title):
    dt.append(title[i])
    i=i+7

In [480]:
len(dt)

185

### Extracting Default task

In [481]:
task=[]
i=10

In [482]:
while i < len(title):
    task.append(title[i])
    i=i+7

In [483]:
len(task)

185

### Extracting Attribute type

In [484]:
at=[]
i=11

In [485]:
while i < len(title):
    at.append(title[i])
    i=i+7

In [486]:
len(at)

185

### Extracting Instances

In [487]:
ins=[]
i=12

In [488]:
while i < len(title):
    ins.append(title[i])
    i=i+7

In [489]:
len(ins)

185

### Extracting Attributes

In [490]:
att=[]
i=13

In [491]:
while i < len(title):
    att.append(title[i])
    i=i+7

In [492]:
len(att)

185

### Extracting year

In [493]:
yr=[]
i=14

In [494]:
while i < len(title):
    yr.append(title[i])
    i=i+7

In [495]:
len(yr)

185

### Creating the Final Dataset

In [496]:
uci = pd.DataFrame({'Name' :na[:185],'Data Types':dt,'Default Task':task,'Attribute Type': at,'Instances':ins,'Attributes':att,'Year':yr })

In [497]:
uci

,Name,Data Types,Default Task,Attribute Type,Instances,Attributes,Year
0,[Abalone],[Multivariate ],[Classification ],"[Categorical, Integer, Real ]",[4177 ],[8 ],[1995 ]
1,[Adult],[Multivariate ],[Classification ],"[Categorical, Integer ]",[48842 ],[14 ],[1996 ]
2,[Annealing],[Multivariate ],[Classification ],"[Categorical, Integer, Real ]",[798 ],[38 ],[ ]
3,[Anonymous Microsoft Web Data],[ ],[Recommender-Systems ],[Categorical ],[37711 ],[294 ],[1998 ]
4,[Arrhythmia],[Multivariate ],[Classification ],"[Categorical, Integer, Real ]",[452 ],[279 ],[1998 ]
...,...,...,...,...,...,...,...
180,[Communities and Crime],[Multivariate ],[Regression ],[Real ],[1994 ],[128 ],[2009 ]
181,[Acute Inflammations],[Multivariate ],[Classification ],"[Categorical, Integer ]",[120 ],[6 ],[2009 ]
182,[Wine Quality],[Multivariate ],"[Classification, Regression ]",[Real ],[4898 ],[12 ],[2009 ]
183,[URL Reputation],"[Multivariate, Time-Series ]",[Classification ],"[Integer, Real ]",[2396130 ],[3231961 ],[2009 ]
184,[p53 Mutants],[Multivariate ],[Classification ],[Real ],[16772 ],[5409 ],[2010 ]