# Importing libraries

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
import numpy as np
from selenium.common.exceptions import *

# Opening web driver

In [2]:
driver = webdriver.Chrome(r'C:\Users\Blade\Desktop\Flip Robo\chromedriver1.exe')

## Function for driver

In [3]:
def drive():
    driver.get(url)
    driver.maximize_window()

## Function to scroll the page till last

In [4]:
def scroll():
    delay=10
    SCROLL_PAUSE_TIME = 0.7

# Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
    # Scroll down to bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# List initialization

In [12]:
name=[]
str_time=[]
arr_time=[]
to_from=[]
flight_time=[]
stops=[]
price=[]
dt=[]
month=[]
day=[]
frm=[]
to=[]

## Function for flight name

In [6]:
def fname():
    flight_name = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    date= driver.find_element_by_xpath('//div[@class="day-li text-center cursor-pointer pr active font-primary-color"]')
    for i in flight_name:
        try:
            name.append(i.text)
            dt.append(date.text.split()[1])
            month.append(date.text.split()[2])
            day.append(date.text.split()[0])
        except IndexError:
            name.append(np.nan)
        except NoSuchElementException:
            name.append(np.nan)

In [156]:
date= driver.find_element_by_xpath('//div[@class="day-li text-center cursor-pointer pr active font-primary-color"]')
dt.append(date.text.splitlines()[0])

## Function for Start Time

In [7]:

def start_time():
    start = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in start:
        try:
            str_time.append(i.text)
        except IndexError:
            str_time.append(np.nan)
        except NoSuchElementException:
            str_time.append(np.nan)

## Function for fArrival time

In [8]:

def end_time():
    end = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in end:
        try:
            arr_time.append(i.text.splitlines()[0])
        except IndexError:
            arr_time.append(np.nan)
        except NoSuchElementException:
            arr_time.append(np.nan)

## Function for To and From details

In [9]:

def to_fro():
    end = driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    for i in end:
        try:
            to_from.append(i.text)
        except IndexError:
            to_from.append(np.nan)
        except NoSuchElementException:
            to_from.append(np.nan)

In [85]:
to_fro()

## Diveding To and From and appending in different list

In [164]:
def abc():
    for i in range(0, len(to_from)):
        if i % 2:
            to.append(to_from[i])
        else :
            frm.append(to_from[i])

In [165]:
abc()

### Extracting total flight time

In [14]:

def flig_time():
    end = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in end:
        try:
            flight_time.append(i.text)
        except IndexError:
            flight_time.append(np.nan)
        except NoSuchElementException:
            flight_time.append(np.nan)

## Function for no. of Stops

In [15]:

def stop():
    end = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in end:
        try:
            stops.append(i.text)
        except IndexError:
            stops.append(np.nan)
        except NoSuchElementException:
            stops.append(np.nan)

## Function for Price

In [16]:

def pri():
    end = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in end:
        try:
            price.append(i.text)
        except IndexError:
            price.append(np.nan)
        except NoSuchElementException:
            price.append(np.nan)

# FInal data extraction

#### Changing the Url and calling the below funtions

In [159]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=SXR&destinationCountry=IN&flexi=0&flight_depart_date=25%2F12%2F2022&hb=0&noOfSegments=1&origin=CCU&originCountry=IN&type=O&unique=1212818337363&version=1.1&viewName=normal'
drive()

In [160]:
# run this code for 2-3 time to load the page properly 
delay= 10
scroll()

In [161]:
fname()
delay= 5
start_time()
delay= 5
end_time()
delay= 5
to_fro()
delay= 5
#abc()
#delay=5
flig_time()
delay= 5
stop()
delay= 5
pri()

In [54]:
#name=[]
#str_time=[]
#arr_time=[]
#to_from=[]
#flight_time=[]
#stops=[]
#price=[]
#dt=[]
#month=[]
#day=[]
#to=[]
#frm=[]

In [162]:
print(len(name),len(str_time),len(arr_time),len(flight_time),len(stops),len(price),len(dt),len(month),len(day),len(to_from))

2469 2469 2469 2469 2469 2469 2469 2469 2469 4938

In [168]:
# Final Dataset
dataset_final= pd.DataFrame({'Flight Name' :name,'Departure':str_time,'Arrival':arr_time,'Source':frm,'Destinaton':to,'Total flight time':flight_time,'Stops':stops,'Date':dt,'Month':month,'Day':day,'Price':price})

In [169]:
dataset_final

,Flight Name,Departure,Arrival,Source,Destinaton,Total flight time,Stops,Date,Month,Day,Price
0,IndiGo,11:10,16:45,Kolkata,New Delhi,5h 35m,1 Stop,18,Jun,"Sat,","6,612"
1,Vistara,07:10,09:35,Kolkata,New Delhi,2h 25m,Non Stop,18,Jun,"Sat,","7,078"
2,Vistara,18:45,21:10,Kolkata,New Delhi,2h 25m,Non Stop,18,Jun,"Sat,","7,078"
3,Vistara,20:20,22:45,Kolkata,New Delhi,2h 25m,Non Stop,18,Jun,"Sat,","7,078"
4,SpiceJet,15:30,17:45,Kolkata,New Delhi,2h 15m,Non Stop,18,Jun,"Sat,","7,136"
...,...,...,...,...,...,...,...,...,...,...,...
2464,Vistara,17:35,12:00,Kolkata,Srinagar,18h 25m,2 Stop(s),25,Dec,"Sun,","19,527"
2465,Vistara,17:35,13:10,Kolkata,Srinagar,19h 35m,2 Stop(s),25,Dec,"Sun,","19,527"
2466,Go First,06:00,13:20,Kolkata,Srinagar,7h 20m,1 Stop,25,Dec,"Sun,","19,867"
2467,Go First,06:00,15:15,Kolkata,Srinagar,9h 15m,1 Stop,25,Dec,"Sun,","19,867"
2468,SpiceJet,21:55,12:45,Kolkata,Srinagar,14h 50m,1 Stop,25,Dec,"Sun,","21,280"

# Extracting the dataset to excel file

In [171]:
dataset_final.to_excel (r'C:\Users\Blade\Desktop\Flip Robo\Flight_price2_dataframe.xlsx', index = False, header=True)